

main{
    min-height: 400px;
    padding: 50px;
    background-image: url('../img/bg-prods.jpg');
    margin-bottom: 50px;
    h1{
      text-align: center;
    }
    .cards-wrapper{
      display: flex;
      flex-wrap: wrap;
      padding: 50px 0;
    }
  }
